<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/bots-chat2desk-adapter.log</file>
        <encoder>
            <pattern>%date{ISO8601} %-5level %logger{36} %X{akkaSource} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

    <logger name="akka.serialization" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="netty" level="WARN"/>
    <logger name="akka.stream.impl" level="WARN"/>
    <logger name="akka.actor.TimerScheduler" level="WARN"/>
    <logger name="akka.actor.ActorSystemImpl" level="WARN"/>
    <logger name="org.json4s" level="WARN"/>
    <logger name="akka.serialization" level="WARN"/>
    <logger name="akka.io.*" level="WARN"/>
    <logger name="akka.http.impl.engine.client.PoolGateway" level="WARN"/>
    <logger name="akka.http.impl.engine.client.PoolMasterActor" level="WARN"/>
    <logger name="io.grpc.netty" level="INFO"/>
</configuration>